body {
  background: url("Penguins") no-repeat center center fixed;
  background-size: contain;

}

.Container {
  border: 1px solid;
  width: 500px;
  max-width: 500px;
  height: 200px;
  max-height: 200px;
  position: relative;
  top: 200px;
  left: 50%;
}

.Error {
  border: 1px solid;
}
.Message {
  border: 1px solid;
}

.Links {
  border: 1px solid;
}
