body {
  background: url("Penguins") no-repeat center center fixed;
  background-size: contain;

}

.Container {
  border: 1px solid;
  width: 500px;
  max-width: 500px;
  height: 350px;
  max-height: 350px;
  position: relative;
  top: 50px;
  left: 50%;
  text-align: center;
}

.Error {
  border: 1px solid;
}
.Message {
  border: 1px solid;
  font-size: 28px;
}

.Links {
  border: 1px solid;
}
